* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('softaqua.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}




.hero-img {
    max-width: 400px;
    margin-bottom: 20px;
     border-radius: 2300px;
}

.hero-tagline {
    margin-top: 10px;
    font-size: 1.5rem;
    color: rgb(3, 255, 213);
    font-weight: 500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 20px 50px;
    background: transparent;
    color: #023b32;
    border: 2px solid #50dddd;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffffff;
    color: #064e2b;
}

.features {
    padding: 80px 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.feature-card {
    background: rgba(75, 195, 250, 0.85);
    padding: 35px 30px;
    border-radius: 20px;
    font-weight: 500;
    color: #064e2b;
    line-height: 1.8;
    min-height: 240px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
    background: rgba(74, 159, 161, 0.9);
}

.visual {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.visual img {
    max-width: 100%;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.visual img:hover {
    transform: scale(1.03);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.7);
}


.info {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
 
    color: #000000;
}
.info-divider {
    width: 1500px;          
    height: 5px;          
    background: #ffffff;  
    margin: 40px auto;    
    border-radius: 5px;
}

.info h2 {
    margin-bottom: 20px;
}

.info p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.info ul li {
    margin-bottom: 10px;
}

.cta {
    padding: 100px 20px;
    text-align: center;
    
    color: #ffffff;
    margin: 40px auto;
    max-width: 1000px;
    border-radius: 20px;
}


.footer {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(81, 228, 154);
    text-align: center;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: 30px auto;
    max-width: 100000px;
    
}

@media(max-width:768px) {
    .hero-img {
        max-width: 250px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }
}
